.header{
    height: 300px;
    background-image: url('/1-2-2025/image/premium_photo-1673210887157-0edd6e212295.avif');
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 200px; */
}
h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}
.second{
    /* display: none; */
    /* visibility: hidden; */
}
.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 10px blueviolet;
}
.incident{
    border: 5px solid yellowgreen;
    display: inline-block;
    height: 200px;
    /* display: block; */
    /* Height doesn't work in inline elements. so you can do two things: 
    1.display: bolck;
    2.display: inline-block*/
}
li{
    display: inline;
}